

*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

header{
    background-image:linear-gradient(rgba(248, 141, 19, 0.2), rgba(0,0,0,0.5)),url(bg2.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    list-style: none;
    float: right;
    margin-top: 20px;
    margin-r: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-size: 20px;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ui li.active a{
    background-color: white;
    color: black;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 70px;
    color: white;
}

.button{
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    top: 62%;
    left: 50%;
}

.btn{
    padding: 20px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 15px;
    transition: 0.7s;
}

.btn:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}